body{
 background-color: maroon;
}

h2 {
 font-size: 40px;
 text-align: center;
 border:solid black 10px;

 padding: 5px;
 margin: 15px;
background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border:solid black 10px;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: grey;
  }

  .row {
width: max-content;
align-self: center;
flex-wrap: wrap;
}

.col-4{
width: 500px;
height: 500px;
padding-top: 50px;
flex-wrap: wrap;
}