:root{
  --black:black;
  --bgColor: white;
}

body{
 background-color: maroon;
}

h2 {
 font-size: 40px;
 text-align: center;
 border:solid var(--black) 10px;

 padding: 5px;
 margin: 15px;
background-color: var(--bgColor);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bgColor);
    border:solid var(--black) 10px;
  }
  
audio{
  float: right;
  border: solid var(--black) px;
  background-color: var(--bgColor);

}


  li {
    float:left;
    clear: left;
  }
  
  li a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: grey;
  }

  .row {
justify-content: center;
display: flex;
margin-top: 200px;
}

.col-8{
height: 500px;
width: 750px;
margin: 50px;
flex-wrap: wrap;
border: var(--black) solid 5px;
background-color: var(--bgColor);
}

.col-2{
  height: 500px;
  width: 300px;
  margin: 50px;
  flex-wrap: wrap;
  border: var(--black) solid 5px;
  }

form{
background-color:var(--bgColor);
width: 200px;
height: 120px ;
margin-left: 20px;
display: block;
border: 5px solid var(--black);
margin-top: 5px;
padding-left: 2px;
float: right;
margin-right: 10px;
}

label{
  font-size: 20px;
  color: var(--black);
}

.container{
width: 3000px;
height: 5000px;
background-color: var(--bgColor);
}

.col-12 {
  background-color: var(--bgColor);
  border: 10px solid var(--black);
  max-width: 1750px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:2000px;
}

#temp{
  font-size: 30px;
  border: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 50px;
  margin-left: 20px;
}

#weatherDesc{
  font-size: 30px;
  border: none;
  display: block;
  float: left;
  clear: left;
  margin-top: 100px;
  margin-left: 20px;
}

#windSpeed{
  font-size: 30px;
  border:0px;
  float: left;
  clear: left;
  margin-top: 100px;
  margin-left: 20px;
}


@media screen and (max-width: 1600px) {
  .col-8 {
    width: 600px;
  }
}

@media screen and (max-width: 1600px) {
  .col-2 {
    width: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .col-8 {
    width: 450px;
  }
}

@media screen and (max-width: 1300px) {
  .col-2 {
    width: 150px;
  }
}

@media screen and (max-width: 955px) {
  .col-8 {
    width: 400px;
    margin:10px;
  }
}

@media screen and (max-width: 955px) {
  .col-2 {
    width: 100px;
    margin:10px;
  }
}

@media screen and (max-width: 660px) {
  .col-8 {
    width: 250px;
    margin: 10px;
  }
}

@media screen and (max-width: 660px) {
  .col-2 {
    width: 50px;
    margin:10px;
  }
}